# Python Data Structure

1. What are data structures, and why are they important?
   - Data Structure the way of organizing and storing the data so that it can be accessed manupulated efficiently.

   Why are they important?
  - Beacause data structure is efficient data headling beacause the data is huge volume thats why data structure is helping the data faster run and show correct information.The choice of data structure directly influences the performance of algorithms. Proper pairing can substantially improve an application's speed and memory usage, while a poorly chosen structure may result in slow, inefficient program.


2. Explain the difference between mutable and immutable data types with examples.
   - Mutable data types are objects whose values can be changed after they are created.
     modifying their contents does not create a new object; instead, the original object is updated.

   - Immutable data types are objects whose values cannot be changed after they are created.
     any operation that tries to modify the value will result in the creation of a new object.


3. What are the main differences between lists and tuples in Python?
  - Lists are mutable, they can be changed after creation (you can  add, remove, or modify items). Tuples are immutable, once created, their contents cannot be changed. This is a main differance between lists and tuples.


4. Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs. Each element in a dictionary consists of a unique, immutable key (such as a string or a number) and a value, which can be any data type, including lists, other dictionaries, or user-defined objects.


5. Why might you use a set instead of a list in Python?
  - Sets automatically eliminate duplicate elements, ensuring all items are unique without extra code. This is useful when you want a collection of distinct values, whereas lists allow duplicates. Sets support mathmatical operation and sets are unordered collection.


6. What is a string in Python, and how is it different from a list?
  - In python string as sequence which menas python tracks every element in string as a sequence, string is immutable its menas once the created than you can not be changed.

  - Lists are mutable and strings are immutable and the string is Sequence of characters only and list are squence of items of any data type. string is number characters and list are number of element.

  - Both strings and lists support indexing, slicing, iteration, and the use of membership operators like in and not in. However, because strings are immutable, any operation that modifies a string actually creates a new string, while lists can be modified in place.


7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity in Python primarily through their immutability—once a tuple is created, its contents cannot be changed (no modification, addition, or deletion of elements). This immutability guarantees that the data remains consistent and unaltered throughout the program, which helps reduce bugs caused by unintended data modifications and maintains reliability.


8. What is a hash table, and how does it relate to dictionaries in Python?
  - In Python, the built-in dictionary (dict) data type is implemented using a hash table under the hood. A Python dictionary stores key-value pairs where the keys are hashable (meaning a stable and unique hash value can be generated for them) and values can be any object. When you access or insert an element in a dictionary by a key, Python applies the hash function to the key, uses the resulting hash to find the corresponding location in the underlying array, and retrieves or updates the value efficiently.


9. Can lists contain different data types in Python?
  - Yes, in Python, lists can contain elements of different data types. You can mix strings, integers, booleans, floats, and even other objects within the same list. For example, a list can be ["abc", 34, True, 40, "male"] containing strings, numbers, and a boolean all together.


10. Explain why strings are immutable in Python.
   - Strings are immutable in Python because once a string object is created, it cannot be changed.
   Python strings are immutable by design to enhance safety, efficiency, and reliability in programming, enabling strings to be used safely as keys, shared without unintended side effects, and handled consistently across the language.
  

11. What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries generally consume more memory than lists because they store both keys and values, whereas lists only store values. Also, lists are faster for index-based access and iteration when a simple ordered sequence is important.
   - Dictionaries excel in scenarios requiring fast, key-based lookup and meaningful data association, such as mapping unique identifiers to values and lists are preferable for ordered data access and sequences.


12. Describe a scenario where using a tuple would be preferable over a list?
   - Tuples are immutable, meaning their contents cannot be altered once defined, which ensures data integrity and makes the program safer by preventing accidental changes. Additionally, tuples are more memory-efficient and slightly faster than lists because their fixed size allows Python to optimize their storage and access speed.
   Lists are better when you need a mutable, dynamic collection for data that changes frequently, including adding, removing, or sorting elements.


13. How do sets handle duplicate values in Python?
    - In Python, sets do not allow duplicate values. When you add elements to a set, any duplicate entries are automatically ignored, meaning each element appears only once in the set regardless of how many times it was added. This uniqueness property is fundamental to sets.


14. How does the “in” keyword work differently for lists and dictionaries?
  - The Python in keyword works differently for lists and dictionaries primarily in what they check for membership.
  - For lists, the in keyword checks whether a given value is present anywhere in the list by scanning elements sequentially. This means it tests each element one by one for equality with the target value.
  - For dictionaries, the in keyword checks whether the given value is present as a key in the dictionary, not among the values.


15. Can you modify the elements of a tuple? Explain why or why not?
   - You cannot directly modify the elements of a tuple because tuples in Python are immutable. This means once a tuple is created, its elements cannot be changed, added, or removed.
   - Tuples containing mutable elements: While the tuple itself is immutable, if it contains mutable objects (like lists, dictionaries, or sets), the contents of those mutable objects can be changed.


16. What is a nested dictionary, and give an example of its use case?
   - A nested dictionary in Python is a dictionary whose values are also dictionaries. This structure allows you to organize complex hierarchical or grouped data by having dictionaries within dictionaries.
   - Example use case:
  Storing student information where each student has attributes like name, age, and grade:

   Python
  students = {
    'student1': {'name': 'Adnan', 'age': 20, 'grade': 'A'},
    'student2': {'name': 'Faizan', 'age': 22, 'grade': 'B'},
    'student3': {'name': 'Sahil', 'age': 19, 'grade': 'A'}
}


17. Describe the time complexity of accessing elements in a dictionary.
   - The time complexity of accessing elements in a dictionary is O(1) on average. This constant-time access is achieved because dictionaries are implemented using hash tables, where the key is hashed to directly locate the corresponding value in memory. This allows retrieval operations by key to be very fast and independent of the dictionary size in typical cases.


18. In what situations are lists preferred over dictionaries?
   - Thus, choose lists when your use case involves: ordered sequences, frequent index access, allowance for duplicates, memory constraints, or when working with data naturally represented as sequences or matrices. This fits very well with scenarios like iterating over ordered items, processing sequential tasks, or performing numerical computations.
   - Given your interest in hash tables and dictionaries, understanding these trade-offs will help you use lists and dictionaries optimally depending on whether order, indexing, or key-value associations are most important in your program.


19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Dictionaries are historically considered unordered because they store data as key-value pairs optimized for fast key-based access, rather than maintaining any inherent order of elements by insertion or position. The internal structure of a dictionary is a hash table that maps keys to values in a way that does not guarantee order. This means you cannot rely on the sequence of items when iterating or printing dictionaries—at least in versions of Python before 3.7


20.  Explain the difference between a list and a dictionary in terms of data retrieval.
   - The key difference between a list and a dictionary in terms of data retrieval lies in how you access their elements.
   - A list is an ordered collection where elements are retrieved by their integer index positions. Accessing an element by index is typically very fast (O(1) time complexity); however, if you need to find an element by value, it requires searching through the list (O(n) time complexity)
   - A dictionary is an unordered collection of key-value pairs where elements are accessed directly using unique keys rather than numeric indexes. Lookups by key are also very fast (average O(1) time complexity) due to hash-based retrieval, making dictionaries more efficient for retrieving data by identifiers rather than position.

# Practical Questions

In [4]:
#1. Write a code to create a string with your name and print it.
name = "Md Adnan"
print(name)

Md Adnan

In [5]:
#2. Write a code to find the length of the string "Hello World".
string = "Hello World"
print(len(string))

11

In [7]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"?
string = "Python Programming"
print(string[:3])

Pyt

In [10]:
#4. Write a code to convert the string "hello" to uppercase.
string = "hello"
print(string.upper())

HELLO

In [11]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
print(string.replace("I like apple", "I like orange"))

I like orange

In [12]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [13]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [14]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1, 2, 3, 4]
list.remove(3)
print(list)

[1, 2, 4]

In [15]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [16]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [20]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [21]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ("red", "green", "blue", "yellow")
print(tuple[-1])

yellow

In [22]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [23]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ("dog", "cat", "rabbit")
print(tuple.index("cat"))

1

In [24]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ("apple", "banana", "orange")
print("kiwi" in tuple)

False

In [28]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a', 'b', 'c'}
print(set)

{'b', 'a', 'c'}

In [29]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [30]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [31]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [32]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [33]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name": "Md Adnan","age": "22", "city": "Kolkata"}
print(dict)

{'name': 'Md Adnan', 'age': '22', 'city': 'Kolkata'}

In [36]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {"name": "Md Adnan", "age": "22"}
dict["country"] = "India"
print(dict)

{'name': 'Md Adnan', 'age': '22', 'country': 'India'}

In [38]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {"name": "Md Adnan", "age": "22"}
print(dict["name"])

Md Adnan

In [41]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {"name": "Md Adnan", "age": "22" ,"city": "Kolkata"}
dict.pop("age")
print(dict)

{'name': 'Md Adnan', 'city': 'Kolkata'}

In [42]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {"name": "Md Adnan", "city": "Kolkata"}
print("city" in dict)

True

In [43]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1, 2, 3, 4]
tuple = (1, 2, 3, 4)
dict = {"name": "Md Adnan", "age": "22"}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Md Adnan', 'age': '22'}

In [44]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
list = [1, 13, 22, 2, 7]
list.sort()
print(list)

[1, 2, 7, 13, 22]

In [45]:
#28. Write a code to create a list with strings and print the element at the third index.
list = ["apple", "kiwi", "orange"]
print(list[2])

orange

In [46]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Md Adnan", "age": "22"}
dict2 = {"city": "Kolkata", "country": "India"}
dict1.update(dict2)
print(dict1)

{'name': 'Md Adnan', 'age': '22', 'city': 'Kolkata', 'country': 'India'}

In [56]:
#30. Write a code to convert a list of strings into a set.
my_string = ["apple", "kiwi", "cherry"]
my_set = set(my_string)
print(my_set)

TypeError: 'set' object is not callable